/* CSS DECLARATIONS */

body {
	margin: 0px;
    padding: 0px;
}

header {
	background-color: black;
	font-size:1em;
	padding:10px;
	height:40px;
	color:white;
}

main {
	display:block;
}

#setsBrowser {
	position: absolute;
	margin:0px;
	padding:0px;
	top:50px;
	left:0px;
	height:200px;
	background-color: white;
	opacity:50%;
    overflow-x:scroll;
}

#photoBrowser {
	position: absolute;
	display:block;
	top:250px;
	left:0px;
	height:200px;
	background-color: pink;
	opacity:50%;
    overflow-x:scroll;
}

#photoScroller {
	position: absolute;
	display:block;
	top:500px;
	left:0px;
	background-color:blue;
}

.setTile {
	float:left;
	padding:15px;
}

.photoTile {
	float:left;
	padding:15px;
}

.title {
	background-color: black;
	color: white;
	opacity: 60%;
}

ul {
    list-style: none;
    padding: 0px;
}

ul li {
    list-style: none;
    margin: 1px;
    display: inline;
    padding: 1px;
}

footer {
    position:absolute;
    bottom:0px;
    height: 200px;
    border-top: 2px #222 solid;
    padding:5px;
}