/* CSS DECLARATIONS */

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

body {
}

.clear {
	clear: both;
}

container {
	position: absolute;
	top: 25%;
	max-height: 100%;
	overflow-y:scroll;
}

header {
	background-color: rgba(0,0,0,0.2);
	position:static;
}

.path {
	display:inline-block;
	padding-left:10px;
	opacity: 0.5;
	color: white;
}

header button {
	position:absolute;
	top: 15px;
	right: 10px;
}

#setsBrowser {
	background-color: green;
}

#photoBrowser {
	background-color: white;
	max-height: 500px;
}

#photoScroller {
	background-color: fuchsia;
}

.setTile {
	display:inline-block;
	padding:15px;
}

.photoTile {
	display:inline-block;
	padding:15px;
}

footer {
    position:fixed;
    bottom:0px;
    border-top: 2px #222 solid;
    padding:5px;
}

.breadcrumb {
	display:inline-block;
}