/* CSS DECLARATIONS */

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
}
#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
}

body {
	margin: 0px;
    padding: 0px;
}

header {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
	font-size:1em;
	padding:10px;
	height:40px;
	color:white;
	width:100%
}

main {
	display:block;
}

#setsBrowser {
	position: absolute;
	margin:0px;
	padding:0px;
	top:50px;
	left:0px;
	height:200px;
	background-color: rgba(0,0,0,0.5);
    overflow-x:scroll;
}

#photoBrowser {
	position: absolute;
	display:block;
	top:250px;
	left:0px;
	height:200px;
	background-color: rgba(255,255,255,0.5);
	opacity:50%;
    overflow-x:scroll;
}

#photoScroller {
	position: absolute;
	display:block;
	top:500px;
	left:0px;
	background-color:blue;
}

.setTile {
	float:left;
	padding:15px;
}

.photoTile {
	float:left;
	padding:15px;
}

.title {
	background-color: black;
	color: white;
	opacity: 60%;
}

ul {
    list-style: none;
    padding: 0px;
}

ul li {
    list-style: none;
    margin: 1px;
    display: inline;
    padding: 1px;
}

footer {
    position:absolute;
    bottom:0px;
    height: 200px;
    border-top: 2px #222 solid;
    padding:5px;
}